/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap'); */

@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

@plugin "daisyui/theme" {
    name: "light";
    default: true;

    /* Brand colors */
    --color-primary: #ee3131;
    --color-primary-content: #788094;

    --color-secondary: #101010;
    --color-secondary-content: #666666;

    --color-accent: #2563eb;
    /* blue accent */
    --color-accent-content: #ffffff;

    /* Neutral + base */
    --color-neutral: #3d4451;
    --color-neutral-content: #ffffff;

    --color-base-100: #ffffff;
    --color-base-200: #f2f2f2;
    --color-base-300: #e5e6e6;
    --color-base-content: #1f2937;

    /* Status colors */
    --color-info: #3abff8;
    --color-info-content: #ffffff;

    --color-success: #36d399;
    --color-success-content: #ffffff;

    --color-warning: #fbbd23;
    --color-warning-content: #ffffff;

    --color-error: #f87272;
    --color-error-content: #ffffff;
}

@plugin "daisyui/theme" {
    name: "dark";

    /* Brand colors */
    --color-primary: #ee3131;
    /* same red */
    --color-primary-content: #ffffff;
    /* contrast on dark */

    --color-secondary: #788094;
    --color-secondary-content: #e5e7eb;

    --color-accent: #22d3ee;
    /* cyan accent */
    --color-accent-content: #1f2937;

    /* Neutral + base */
    --color-neutral: #191d24;
    --color-neutral-content: #a6adbb;

    --color-base-100: #1d232a;
    --color-base-200: #191d24;
    --color-base-300: #15191e;
    --color-base-content: #a6adbb;

    /* Status colors */
    --color-info: #0ca5e9;
    --color-info-content: #ffffff;

    --color-success: #2bd4bd;
    --color-success-content: #ffffff;

    --color-warning: #facc15;
    --color-warning-content: #1f2937;

    --color-error: #f43f5e;
    --color-error-content: #ffffff;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

/* * {
    font-family: "Lora", serif;
} */